---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ValueSection from "../components/ValueSection.astro";
import Benefits from "../components/Benefits.astro";
import Empathy from "../components/Empathy.astro";
import HowItWorks from "../components/HowItWorks.astro";
import CtaFinal from "../components/CtaFinal.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<main class="layout">
		<Header />
		<Hero />
		<ValueSection />
		<Benefits />
		<Empathy />
		<HowItWorks />
		<CtaFinal />
		<Footer />
	</main>
</Layout>
