---

---

<header>
    <div class="logo">
        <div class="logo-mark">F</div>
        <div class="logo-text">
            <div class="logo-text-title">Fluyi App</div>
            <div class="logo-text-sub">Finanzas simples para tu micro pyme</div>
        </div>
    </div>

    <div class="header-cta">
        <a href="https://app.fluyi.app/es/auth/signup" class="btn-primary">
            Probar GRATIS
        </a>
    </div>
</header>
