<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Fluyi App – Finanzas simples para micro pymes de LATAM</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Fluyi App ayuda a micro pymes de LATAM a gestionar sus finanzas de forma simple, rápida y desde el celular. Registra tus transacciones en segundos y probá GRATIS."
		/>
	</head>
	<body>
		<div class="page">
			<slot />
		</div>
	</body>
</html>

<script>
	// Import global styles
	import "../styles/main.css";
</script>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
